.HolyGrail,
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}
.HolyGrail-content {
  position: relative;
  flex: 1;
}

.HolyGrail-nav,
.HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}
header {
  display: flex;
  background-color: rgb(255, 250, 184);
  align-items: center;
  font-size: 3rem;
  height: 15vmin;
  align-content: center;
  justify-content: center;
}
nav {
  background-color: rgb(255, 250, 184);
  padding-left: 2rem;
  padding-top: 2rem;
}
main {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
aside {
  background-color: rgb(255, 250, 184);
  padding-left: 2rem;
  padding-top: 2rem;
}

.button-color {
  background-color: cyan;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.grid-graella {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}
.gran {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: auto;
}
.hidden {
  display: none;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.displayNone {
  display: none;
}

.App-link {
  color: #61dafb;
}
li {
  padding: 0.7rem;
}

.wrapper-tres-en-ratlla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 4px;
  column-gap: 4px;
  background-color: grey;
  height: 400px;
  width: 400px;
  padding: 4px;
}
.container_tres-en-ratlla {
  display: grid;
  font-size: 2rem;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.carrusel-wrapper {
  display: flex;
  flex-direction: column;
}
carrusel_button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image-surf {
  object-fit: cover;
  width: 700px;
  height: 400px;
}
.calculadora_wrapper {
  display: flex;
  flex-direction: column;
}
.calculadora_wrapper-numeros {
  display: flex;
}
.calculadora_wrapepr-operadors {
  display: flex;
  justify-content: space-around;
}
.calculadora_display {
  display: flex;
  font-size: 3rem;
  justify-content: center;
}
